name: Commit a version change (Internal workflow)
on:
  workflow_call:
    secrets:
      PAT_GITHUB:
        required: true
    inputs:
      version-type:
        description: "The version type to increment by"
        type: string
        required: true

permissions:
  contents: write
  pull-requests: write

jobs:
  check-version:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    env:
      VERSION_TYPE: ${{ inputs.version-type }}
    outputs:
      release_doc_path: ${{ steps.release_document_path.outputs.path }}
      should_change_version: ${{ steps.release_document_path.outputs.should_change_version }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Use PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false

      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: "pnpm"

      - name: Get the current version number
        id: get_current_version
        run: |
          VERSION=v$(jq -r ".version" package.json)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Install alex-c-line
        run: npm install -g alex-c-line@latest

      - name: Get next version
        env:
          VERSION: ${{ steps.get_current_version.outputs.version }}
          VERSION_TYPE: ${{ env.VERSION_TYPE }}
        id: get_next_version
        run: |
          NEXT_VERSION=$(alex-c-line increment-version $VERSION $VERSION_TYPE)
          echo "next_version=$NEXT_VERSION" >> $GITHUB_OUTPUT

      - name: Find release document
        env:
          NEXT_VERSION: ${{ steps.get_next_version.outputs.next_version }}
          VERSION_TYPE: ${{ inputs.version-type }}
        id: release_document_path
        run: |
          RELEASE_DOC_PATH="docs/releases/$VERSION_TYPE/$NEXT_VERSION.md"
          if cat "$RELEASE_DOC_PATH" >/dev/null 2>&1; then
            echo "Release document found. Continuing..."
            echo "path=$RELEASE_DOC_PATH" >> $GITHUB_OUTPUT
            echo "should_change_version=true" >> $GITHUB_OUTPUT
          else
            echo "No release document found. Skipping..."
            echo "should_change_version=false" >> $GITHUB_OUTPUT
          fi

  commit-version-change:
    runs-on: ubuntu-latest
    needs: check-version
    if: ${{ needs.check-version.outputs.should_change_version == 'true' }}
    env:
      HUSKY: 0
      VERSION_TYPE: ${{ inputs.version-type }}
      RELEASE_DOC_PATH: ${{ needs.check-version.outputs.release_doc_path }}
    permissions:
      contents: write
      pull-requests: write

    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup GitHub user
        env:
          PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
        run: |
          git config --global user.name "AlexUpBot"
          git config --global user.email "alexupbot@bot.com"
          git remote set-url origin https://x-access-token:$PAT_GITHUB@github.com/${GITHUB_REPOSITORY}.git

      - name: Use PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false

      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: "pnpm"

      - name: Change version
        env:
          VERSION_TYPE: ${{ env.VERSION_TYPE }}
        run: pnpm version $VERSION_TYPE --no-git-tag-version

      - name: Get the new version number
        id: get_new_version
        run: |
          VERSION=v$(jq -r ".version" package.json)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Install alex-c-line
        run: npm install -g alex-c-line@latest

      - name: Change the status in the release document
        env:
          RELEASE_DOC_PATH: ${{ env.RELEASE_DOC_PATH }}
        run: alex-c-line set-release-status "$RELEASE_DOC_PATH"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ secrets.PAT_GITHUB }}
          branch: alex-up-bot/change-${{ env.VERSION_TYPE }}-version
          base: main
          commit-message: "Change version number to ${{ steps.get_new_version.outputs.version }}"
          title: "Change version number to ${{ steps.get_new_version.outputs.version }}"
          maintainer-can-modify: false
          body-path: ${{ env.RELEASE_DOC_PATH }}
