name: Node.js CI

on:
  workflow_call:
    inputs:
      run-tests:
        description: "Include test runs"
        required: false
        default: true
        type: boolean

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Build package
      run: npm run build
    - name: Fetch from main
      run: git fetch --unshallow origin main

    - name: Check version number
      run: |
        npx alex-c-line check-lockfile-version-discrepancy
        npx alex-c-line check-version-number-change
    - name: Run linting checks
      run: npm run lint
    - name: Run tests
      if: ${{ inputs.run-tests == 'true' }}
      run: npm test
