name: Node.js CI

on:
  workflow_call:
    inputs:
      run-tests:
        description: "Include test runs"
        required: false
        default: true
        type: boolean

jobs:
  ci:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - name: Install dependencies
      run: npm ci
    - name: Build package
      run: npm run build
    - name: Fetch from main
      run: git fetch --unshallow origin main

    - name: Check version number
      run: |
        npx alex-c-line check-lockfile-version-discrepancy
        npx alex-c-line check-version-number-change
    - name: Run linting checks
      run: npm run lint
    - name: Run tests
      if: ${{ inputs.run-tests == 'true' }}
      run: npm test
