name: Commit a version change
on:
  push:
    branches: ["main"]
  workflow_dispatch:
  workflow_call:
    secrets:
      GITHUB_TOKEN:
        required: true

jobs:
  check-major-version:
    permissions:
      contents: write
      pull-requests: write
    uses: ./.github/workflows/_commit-version-change.yml
    with:
      version-type: major
    secrets:
      GITHUB_TOKEN: ${{ github.repository == 'alextheman231/github-actions' && secrets.ALEX_UP_BOT_GITHUB_TOKEN || secrets.GITHUB_TOKEN }}

  check-minor-version:
    permissions:
      contents: write
      pull-requests: write
    uses: ./.github/workflows/_commit-version-change.yml
    with:
      version-type: minor
    secrets:
      GITHUB_TOKEN: ${{ github.repository == 'alextheman231/github-actions' && secrets.ALEX_UP_BOT_GITHUB_TOKEN || secrets.GITHUB_TOKEN }}

  check-patch-version:
    permissions:
      contents: write
      pull-requests: write
    uses: ./.github/workflows/_commit-version-change.yml
    with:
      version-type: patch
    secrets:
      GITHUB_TOKEN: ${{ github.repository == 'alextheman231/github-actions' && secrets.ALEX_UP_BOT_GITHUB_TOKEN || secrets.GITHUB_TOKEN }}
