name: Commit a version change
on:
  workflow_dispatch:
  workflow_call:
    secrets:
      PAT_GITHUB:
        required: true

jobs:
  check-major-version:
    permissions:
      contents: write
      pull-requests: write
    uses: ./.github/workflows/_commit-version-change.yml
    with:
      version-type: major
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}

  check-minor-version:
    permissions:
      contents: write
      pull-requests: write
    uses: ./.github/workflows/_commit-version-change.yml
    with:
      version-type: minor
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}

  check-patch-version:
    permissions:
      contents: write
      pull-requests: write
    uses: ./.github/workflows/_commit-version-change.yml
    with:
      version-type: patch
    secrets:
      PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
