name: Commit a version change
on:
  workflow_dispatch:
    inputs:
      version-type:
        description: The version type to change
        required: true
        type: choice
        options:
          - major
          - minor
          - patch
        default: patch
  workflow_call:
    secrets:
      PAT_GITHUB:
        required: true

permissions:
  contents: write
  pull-requests: write

jobs:
  commit-version-change:
    runs-on: ubuntu-latest
    env:
      HUSKY: 0
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Setup GitHub user
        env:
          PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
        run: |
          git config --global user.name "AlexUpBot"
          git config --global user.email "alexupbot@bot.com"
          git remote set-url origin https://x-access-token:$PAT_GITHUB@github.com/${GITHUB_REPOSITORY}.git

      - name: Use PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false

      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: "pnpm"

      - name: Change version
        run: pnpm version ${{ inputs.version-type }} --no-git-tag-version

      - name: Get the new version number
        id: get_new_version
        run: |
          VERSION=v$(jq -r ".version" package.json)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Check for release document
        env:
          RELEASE_DOC_PATH: docs/releases/${{ inputs.version-type }}/${{ steps.get_new_version.outputs.version }}.md
        run: |
          if cat "$RELEASE_DOC_PATH" >/dev/null 2>&1; then
            echo "Release document found. Continuing..."
          else
            echo "No release document found. Please create a release document in $RELEASE_DOC_PATH and run the workflow again."
            exit 1
          fi

      - name: Install alex-c-line
        run: npm install -g alex-c-line@latest

      - name: Change the status in the release document
        env:
          RELEASE_DOC_PATH: docs/releases/${{ inputs.version-type }}/${{ steps.get_new_version.outputs.version }}.md
        run: alex-c-line set-release-status "$RELEASE_DOC_PATH"

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ secrets.PAT_GITHUB }}
          branch: alex-up-bot/change-${{ inputs.version-type }}-version
          base: main
          commit-message: "Change version number to ${{ steps.get_new_version.outputs.version }}"
          title: "Change version number to ${{ steps.get_new_version.outputs.version }}"
          maintainer-can-modify: false
          body-path: "docs/releases/${{ inputs.version-type }}/${{ steps.get_new_version.outputs.version }}.md"
