name: Publish to NPM Registry

permissions:
  id-token: write

on:
  workflow_call:

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Fetch from main
        run: git fetch --unshallow origin main

      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          registry-url: https://registry.npmjs.org/

      - name: Use PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false

      - name: Use latest NPM version
        run: npm install -g npm@latest

      - name: Check if version already exists on npm
        id: npm_version
        run: |
          PACKAGE_NAME=$(jq -r '.name' package.json)
          VERSION=$(jq -r '.version' package.json)

          if npm view "$PACKAGE_NAME@$VERSION" version >/dev/null 2>&1; then
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

      - name: Install dependencies
        if: steps.npm_version.outputs.exists == 'false'
        run: pnpm install

      - name: Build package
        if: steps.npm_version.outputs.exists == 'false'
        run: pnpm run build

      - name: Publish to npm
        if: steps.npm_version.outputs.exists == 'false'
        run: pnpm publish --access public
