name: Push Tags

on:
  push:
    branches:
      - main

jobs:
  push-tags:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      with:
        token: ${{ secrets.PAT_GITHUB }}
    - name: Setup GitHub user
      run: |
        git config --global user.name "AlexUpBot"
        git config --global user.email "alexupbot@bot.com"
    - name: Push tags
      run: git push origin --follow-tags
