name: Push Tags

on:
  push:
    branches:
      - main

jobs:
  push-tags:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      with:
        token: ${{ secrets.PAT_GITHUB }}
    - name: Setup GitHub user
      run: |
        git config --global user.name "AlexUpBot"
        git config --global user.email "alexupbot@bot.com"
    - name: Push tags
      run: git push origin --follow-tags
