name: Tag commit
on:
  push:
    branches: ["main"]

jobs:
  check-version:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    outputs:
      exists: ${{ steps.check_version.outputs.exists }}
      version: ${{ steps.get_version.outputs.version }}
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Fetch from main
        run: |
          git fetch --unshallow origin main
          git fetch --tags origin

      - name: Get version from package.json
        id: get_version
        run: |
          VERSION=v$(jq -r ".version" package.json)
          echo "version=$VERSION" >> $GITHUB_OUTPUT

      - name: Check if version already exists
        id: check_version
        env:
          VERSION: ${{ steps.get_version.outputs.version }}
        run: |
          if git ls-remote --tags origin | grep -q "refs/tags/$VERSION$"; then
            echo "Version $VERSION already exists, skipping tag creation..."
            echo "exists=true" >> $GITHUB_OUTPUT
          else
            echo "Creating tag for $VERSION..."
            echo "exists=false" >> $GITHUB_OUTPUT
          fi

  tag-commit:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    needs: check-version
    if: needs.check-version.outputs.exists == 'false'
    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Fetch from origin
        run: |
          git fetch --unshallow origin main
          git fetch --tags origin

      - name: Setup GitHub user
        env:
          PAT_GITHUB: ${{ secrets.PAT_GITHUB }}
        run: |
          git config --global user.name "AlexUpBot"
          git config --global user.email "alexupbot@bot.com"
          git remote set-url origin https://x-access-token:$PAT_GITHUB@github.com/${GITHUB_REPOSITORY}.git

      - name: Create Git tag
        env:
          TAG: ${{ needs.check-version.outputs.version }}
        run: |
          git tag "$TAG"
          git push origin "$TAG"
