name: Update Dependencies
on:
  workflow_dispatch:
  schedule:
    - cron: 0 21 * * 5
  workflow_call:
    secrets:
      PAT_GITHUB:
        required: true

permissions:
  contents: write
  pull-requests: write

jobs:
  update-dependencies:
    runs-on: ubuntu-latest
    env:
      HUSKY: 0

    strategy:
      matrix:
        node-version: [22.x]

    steps:
      - name: Checkout the repository
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
        with:
          persist-credentials: false

      - name: Fetch from main
        run: git fetch --unshallow origin main

      - name: Use PNPM
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0
        with:
          run_install: false

      - name: Use Node.js
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22
          cache: "pnpm"

      - name: Setup GitHub user
        run: |
          git config --global user.name "AlexUpBot"
          git config --global user.email "alexupbot@bot.com"
          git remote set-url origin https://x-access-token:$PAT_GITHUB@github.com/${GITHUB_REPOSITORY}.git

      - name: Install dependencies
        run: pnpm install

      - name: Update JavaScript dependencies
        run: |
          pnpm run update-dependencies
          pnpm install --no-frozen-lockfile

      - name: Update PNPM
        run: corepack use pnpm@latest

      - name: Update GitHub Actions
        run: pnpx actions-up -y

      - name: Generate JavaScript dependency diff
        id: javascript_dependency_diff
        run: |
          DIFF=$(git diff '**/package.json')

          if [ -z "$DIFF" ]; then
            echo "diff=No dependency changes detected." >> $GITHUB_OUTPUT
          else
            {
              echo "diff<<EOF"
              echo "$DIFF"
              echo "EOF"
            } >> $GITHUB_OUTPUT
          fi

      - name: Generate GitHub Actions diff
        id: github_actions_diff
        run: |
          DIFF=$(git diff '.github/workflows/**/*.{yml,yaml}' '.github/actions/**'

          if [ -z "$DIFF" ]; then
            echo "diff=No workflow changes detected." >> $GITHUB_OUTPUT
          else
            {
              echo "diff<<EOF"
              echo "$DIFF"
              echo "EOF"
            } >> $GITHUB_OUTPUT
          fi

      - name: Create Pull Request
        uses: peter-evans/create-pull-request@98357b18bf14b5342f975ff684046ec3b2a07725 # v8.0.0
        with:
          token: ${{ secrets.PAT_GITHUB }}
          branch: alex-up-bot/update-dependencies
          base: main
          commit-message: Update dependencies
          title: "Update dependencies"
          body: |
            This pull request updates this project's dependencies.

            ## JavaScript Dependencies
            ${{ steps.javascript_dependency_diff.outputs.diff }}

            ## GitHub Actions
            ${{ steps.github_actions_diff.outputs.diff }}
